* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-primary: #F4F5FB;
    --bg-secondary: #FFFFFF;
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;
    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;

    --font: 'Inter', sans-serif;
    --title-fs: 24px;
    --label-fs: 16px;
    --paragraph-fs: 16px;
    --link-fs: 14px;

    --title-f-family: 800 24px/32px var(--font);
    --label-f-family: 600 16px/20px var(--font);
    --paragraph-f-family: 400 16px/20px var(--font);
    --link-f-family: 500 14px/16px var(--font);
}
body {
    background: var(--bg-primary);
    font-family: var(--font);
    color: var(--content-primary);  
    overflow: hidden;  
}
button {
    background: transparent;
    outline: none;
    border: none; 
    cursor: pointer;  
}
.flex {
    display: flex;
}
.f-a-center {
    align-items: center;
}